/* user.css ----------------------------------------------------------------- */
footer {
    margin-top: 30px;
}
@media (min-width: 1200px) {
    .container {
        width: 1280px;
    }
}
footer .cm-footer-extra-copyright p,
footer .cm-footer-extra-icons p {
    margin: 0;
}